/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Nav
:: Sidebar
:: Main
:: Footer
*/


/* -----------------------------------------
   Variables & Such
----------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Neuton:400,700,800|Open+Sans:400italic,600italic,400,600|Roboto+Condensed:400italic,400);
@import url(elements.less);

@hilite: #ffff73;
@primary: #0099ff;



.box-size() { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
	background: #fff;
	* {
		font-family: 'Open Sans', sans-serif;
		color: #333;
		.box-size;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Neuton', Georgia, sans-serif;
	}
	.button {
		background: darken(@primary, 10%);
		font-family: 'Roboto Condensed', sans-serif;
		border: 1px solid darken(@primary, 20%);
		&:hover {
			background: @primary;
		}
	}
	.tinyimage {
		height: 30px;
		width: 30px;
		display: inline-block;
	}
} 

/* -----------------------------------------
   Nav
----------------------------------------- */
	.nav {
		background: url(../images/darkdenim3.png) repeat #333;
		max-height: 45px;
		.box-shadow(0px 0px 8px #333);
		border-bottom: 1px solid #999;
		.top-bar {
			background: transparent;
			.title-area {
				&:hover {
					background: transparent;
				}
				.logo {
					a { 
						background: url(../images/small.png) no-repeat center;
						background-size: auto 35px;
						text-indent: -999em;
						width:185px;
						height:45px;
					}
				}
			}
			ul {
				background: transparent;
				&:hover {
					background: #000;
				}
				&.name {
					&:hover {
						background: transparent;
					}
				}
				li {
					&.account {
						height: 45px;
						width: 70px;
						a {
							display: inline-block;
							&:after {
								margin-top: 0px;
							}
							&.accountimage { 
								text-indent: -999em;
							}
						}
					}
					.tinyimage {
						display: inline-block;
						margin: 7px 0 7px 5px;
					}
					ul {
						top: 45px;
						&.dropdown {
							border: 1px solid #ccc;
							background: #f5f5f5;
							height: auto;
							min-width: 200px;
							li {
								background: #f5f5f5;
								color: #333;
								padding-bottom: 0px;
								&:last-child {
									padding-bottom: 0px;
									a {
										padding-bottom: 15px;
									}
								}
								a {
									background: #f5f5f5;
									color: #333;
									width: 100%;
									padding: 10px 5px 10px 15px;
									&:hover {
										background: @hilite;
									}
								}
								label {
									font-size: 10px;
									background: #f5f5f5;
									color: #666;
								}
							}
							hr {
								margin:0 0 0px;
							}
						}
					}
				}
			}
		}
	}


/* -----------------------------------------
   Sidebar
----------------------------------------- */


/* -----------------------------------------
   Main
----------------------------------------- */


/* -----------------------------------------
   Footer
----------------------------------------- */

	footer {
		border-top: 1px solid #ccc;
		top: 10px;
		position: relative;
		padding: 20px;
		* {
			color: #999;
		}
		.link-list {
			li {
				display: inline;
				padding: 0 10px;
				border-right: 1px solid #ccc
			}
		}
	}

/* -----------------------------------------
   Media Queries
----------------------------------------- */

