/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Nav
:: Sidebar
:: Main
:: Footer
*/


/* -----------------------------------------
   Variables & Such
----------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Neuton:400,700,400italic|Open+Sans:400italic,600italic,400,600|Roboto+Condensed:400,700);
@import url(elements.less);
@import url(media.less);

//http://www.google.com/webfonts#ChoosePlace:select/Collection:Ubuntu+Mono|Neuton|Open+Sans|Roboto+Condensed

@hilite: #ffff73;
@primary: #007fff;



.box-size() { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
	background: #f5f5f5;
	background: rgba(0,0,0,.05);
	color: #333;
	line-height: 18px;
	text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
	* {
		font-family: 'Open Sans', sans-serif;
		.box-size;
	}
	a {
			color: @primary;
		}
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Neuton', Georgia, sans-serif;
	}
	li {
		list-style: none;
	}
	.tinyimage {
		height: 30px;
		width: 30px;
		display: inline-block;
	}
	hr {
		.box-shadow(0px 1px 0px #fff)
	}
	.num {
		font-family: "Ubuntu Mono", Courier, monospace;
	}
	.onepointfive {
		font-size: 1.5em;
	}
	.badge {
		background: #FFFF73;
		display: inline-block;
		height: 15px;
		width: 15px;
		position: relative;
		margin: -15px -15px 0 0;
		top: -7px;
		right: 0px;
		color: #666;
		z-index: 1000000;
		padding: 0;
		.box-shadow(1px 1px 0 rgba(0,0,0,.3));
		&:before {
			content: '';
			display: block;
			border: 10px solid transparent;
			border-width: 0px 5px 4px 10px;
			border-right-color: #ffff73;
			width: 0px;
			height: 0px;
			position: relative;
			left: -15px;
			top: 10px;
		}
		.count {
			font-family: 'Ubuntu Mono', courier, monospace;
			font-size: 14px;
			font-weight: bold;
			line-height: 10px;
			text-align: center;
			content: '';
			position: relative;
			top: -10px;
			left: 4px;
		}
	}
	.has-tip {
		border: none;
		&:hover {
			border: none;
		}
	}
	.tooltip {
		text-shadow: none;
		background: #333;
		background: rgba(51,51,51,.9); 
		color: #ffff73;
		font-weight: 400;
		font-size: 14px;
		max-width: 300px;
		.nub {
			border-color: transparent transparent rgba(51,51,51,.9) transparent;
		}
		&.tip-top {
			.nub {
				border-color: rgba(51,51,51,.9) transparent transparent transparent;
			}
		}
		&.tip-right {
			.nub {
				border-color: transparent rgba(51,51,51,.9) transparent transparent;
			}
		}
		&.tip-bottom {
			.nub {
				border-color: transparent transparent rgba(51,51,51,.9) transparent;
			}
		}
		&.tip-left {
			.nub {
				border-color: transparent transparent transparent rgba(51,51,51,.9);
			}
		}
		.tap-to-close {
			color: #ccc;
		}
	}
	table {
		&.statistics {
			background: transparent;
			border: 0px;
			font-size: 12px;
			th {
				text-align: left;
				text-transform: uppercase;
				font-size: 10px;
				font-weight: 400;
				font-style: italic;
				color: #666;
				background: #fff;
				height: 18px;
				padding-top: 2px;
				padding-bottom: 2px;
			}
			tr.even, tr.alt, tr:nth-of-type(even) {
				background: none;
			}
			td {
				font-weight: 600;
				&.num {
					text-align: right;
				}
			}
			th, td {
				&.divide {
					border-right: 1px solid #ccc;
					&:last-child {
						border-right: none;
					}
				}
			}
		}
	}
	.button {
		&.callout {
			background: #ffff73;
			color: #333;
			border: 1px solid #ccc;
			font-weight: 400;
			&:hover {
				background: lighten(#ffff73, 15%);
			}
		}
	}
} 

/* -----------------------------------------
   Nav
----------------------------------------- */
	.nav {
		background: url(../images/darkdenim3.png) repeat #333;
		max-height: 45px;
		.box-shadow(0px 0px 8px #333);
		border-bottom: 1px solid #999;
		.top-bar {
			background: transparent;
			.title-area {
				
				&:hover {
					background: transparent;
				}
				.logo {
					a { 
						background: url(../images/small.png) no-repeat center;
						background-size: auto 35px;
						text-indent: -999em;
						width:185px;
						height:45px;
					}
				}
			}
			ul {
				background: transparent;
				&:hover {
					background: #000;
				}
				&.name {
					position: relative;
					&:hover {
						background: transparent;
					}
				}
				li {
					&.account {
						height: 45px;
						width: 70px;
						a {
							display: inline-block;
							&:after {
								margin-top: 0px;
							}
							&.accountimage { 
								text-indent: -999em;
							}
						}
					}
					.tinyimage {
						display: inline-block;
						margin: 7px 0 7px 5px;
					}
					ul {
						top: 45px;
						&.dropdown {
							border: 1px solid #ccc;
							background: #f5f5f5;
							height: auto;
							min-width: 200px;
							li {
								background: #f5f5f5;
								color: #333;
								padding-bottom: 0px;
								&:last-child {
									padding-bottom: 0px;
									a {
										padding-bottom: 15px;
									}
								}
								a {
									background: #f5f5f5;
									color: #333;
									width: 100%;
									padding: 10px 5px 10px 15px;
									&:hover {
										background: @hilite;
									}
								}
								label {
									font-size: 10px;
									background: #f5f5f5;
									color: #666;
								}
							}
							hr {
								margin:0 0 0px;
							}
						}
					}
				}
			}
		}
	}


/* -----------------------------------------
   Main Content
----------------------------------------- */

	.content {
		input[type=checkbox] {
		  position: absolute;
		  top: -9999px;
		  left: -9999px;
		}

		label {
		  position: absolute;
		  left:0;
		  display:none;
		  width:43px;
		  height:43px;
		  padding:.35em;
		  font-size:1.1em;
		  color:#fff;
		  transition:color .3s ease-in-out;
		  cursor: pointer;
		  user-select:none;
		  margin:0;
		  background:rgba(0, 0, 0, .4); 
		}
		h2 {
			font-size: 16px;
			font-family: 'Open Sans', arial, sans-serif;
			font-weight: 400;
		}
		.profilecard {
			position: relative;
			.imageandrank {
				width: 48px;
				display: inline-block;
				position: absolute;
				.bigimage {
					top: 0px;
				}
				.rank {
					background: #468C00;
					color: #fff;
					text-align: center;
					padding: 0 3px 5px;
					position: absolute;
					top: 50px;
					width: 48px;
					line-height: 15px;
					font-family: 'Ubuntu Mono', courier, monospace;
					font-size: 21px;
					font-weight: bold;
					text-shadow: none;
    				filter: none;
					span {
						color: #fff;
						font-weight: normal;
						display: block;
						font-size: 10px;
						text-transform: uppercase;
					}
				}
			}
			table.statistics {
				td {
					padding: 3px 20px 2px 0px;
				}
			}
			.info {
				display: inline-block;
				max-width:250px;
				min-width: 173px;
				padding: 0px 5px;
				margin-left: 52px;
				.name {
					a, span {
						font-size: 21px;
						font-family: 'Neuton', georgia, serif;
					}
					.nickname {
						&:before {
							content: "\201C";
						}
						&:after {
							content: "\201D";
						}
					}
				}
				.leaguename {
					font-size: 10px;
					text-transform: uppercase;
				}
				.timestamp {
					font-size: 12px;
					color: #666;
				}
				.location {
					font-size: 14px;
				}
				.quote {
					font-style: italic;
					font-size: 14px;
					&:before {
						content: "\201C";
					}
					&:after {
						content: "\201D";
					}
				}
			}
		}
		.teams {
			
			.team {
				border: 1px solid transparent;
				cursor: pointer;
				.transition;
				&.selected {
					background: #fff;
					margin-right:-20px;
					.transition;					
					border: 1px solid #ccc;
					border-color:  rgba(0,0,0,.2);
					border-width: 1px 0px 1px 1px;
					.tinyimage, .teamname {
						left: 5px;
						.transition;	
					}
					.badge {
						right: 0px;
						.transition;
					}
				}
				&:hover {
					background: #ddd;
				}
				.tinyimage {
					position: relative;
					top: 4px;
				}
				.teamname {
					font-size: 18px;
					font-family: 'Neuton', georgia, serif;
					position: relative;
					top: -6px;
				}
				.leaguename {
					color: @primary;
					font-size: 10px;
					text-transform: uppercase;
					position: relative;
					top: 11px;
				}
				i {
					position: relative;
					top: 11px;
					color: #999;
				}
			}
			.create {
				font-size: 12px;
				i {
					position: relative;
					top: 2px;
					color: #468C00;
				}
			}
		}
		.more {
			background: #fff;
			width: 16px;
			height: 16px;
			position: relative;
			border: 1px solid #ccc;
			border-color:  rgba(0,0,0,.2);
			.rounded(100%);
			display: block;
			left: 150px;
			margin: -10px 0 -28px;
			i {
				color: #999;
				position: relative;
				top: -3px;
				left: 3px;		
				font-size: .9em;
			}

		}

/* -----------------------------------------
   Sidebar
----------------------------------------- */
	
		.sidebar {
			padding-top: 30px;
			height:100%;
			position: relative;
			top:0px;
			bottom: 0px;

			border: 1px solid #ccc;
			border-color:  rgba(0,0,0,.2);
			border-width: 0px 1px 0 0;
			h5 {
				font-size: 10px;
				color: #666;
				font-weight: 600;
				font-style: italic;
				font-family: 'Open Sans', arial, sans-serif;
				text-transform: uppercase;
			}
			.badge {
				top: 3px;
				right: 5px;
			}

		}

/* -----------------------------------------
   Main
----------------------------------------- */

		.main {
			padding-top: 30px;
			background: #fff;
			height: 100%;
			border: 1px solid #ccc;
			border-color:  rgba(0,0,0,.2);
			border-width: 0px 1px 0 0;
			.breadcrumbs {
				background: transparent;
				border: none;
				padding: 0px;
				margin: 0px 0px 10px;
				.current {
					color: #999;
				}
				li {
					&:hover {
						text-decoration: none;
						a {
							text-decoration: none;
						}
					}
					a {
						color: @primary;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
			.titlebar {
				background: #f5f5f5;
				padding: 10px 2px;
				border: 1px solid #ccc;
				border-width: 1px 0px;
				color: #666;
				font-weight:600;
				text-transform: uppercase;
				.position {
					font-size: 16px;
				}
				.opponent {
					font-size:10px;
					font-style:italic;
					margin-right: 3px;
				}
			}
			.controlbar {
				background: transparent;
				padding: 5px 0;
				border: 1px solid #ccc;
				border-width: 1px 0 0;
				.pagetitle {
					display: inline-block;
					h1 {
						font-size: 21px;
						margin: 0px;
						display: inline-block;
						font-weight: 400;
					}
				}
				.controls {
					padding: 0px;
					display: inline-block;
					position: relative;
					top: 4px;
					i {
						padding-right: 5px;
						color: #666;
						position: relative;
						top: 2px;
						margin-left: 10px;
					}
					a {
						i {
							padding: 0px;
							top: 0px;
							margin-left: 0px;
						}
					}
					.button { 
						margin: 0px; 
						font-size: 12px;
						font-weight: normal;
						&.small {
							height: 21px;
							padding: 4px 10px;
						}
						&.dropdown {
							padding-right: 20px;
							&:before {
								right: 7px;
								border-width: 5px 3px;
								border-color: #666 transparent transparent transparent;
							}
						}
						&.secondary {
							.gradient(#f5f5f5, #eee, #fff);
						}
					}
				}
			}
			.playerbar {
				padding: 0px 2px 0 0;
				border: 1px solid #ccc;
				border-width: 1px 1px 0px;
				max-height: 37px;
				clear: both;
				&:last-child {
					border-width: 1px;
				}
				.transition;
				cursor: pointer;
				&:before {
					content: '';
					background: url(../images/icons/texture.png);
					width: 6px;
					height:14px;
					display: inline-block;
					position: relative;
					top: -5px;
					left: 2px;
				}
				&:hover {
					.transition;
				}
				&.selected {
					background: #666;
					.playername {
						color: #fff;
						text-shadow: none;
					}
					&:hover {
						background: darken(#666, 10%);
					}
				}
				&.injured {
					background: #ffcfbf;
					&:hover {
						background: darken(#ffcfbf, 10%);
						.injury {
							color: darken(#ff5b26, 20%);
						}
					}
					.injury {
						color: #FF5B26;
						position: relative;
						top: -7px;
						font-size: 12px;
						font-weight: 600;
						text-shadow: none;
						i {
							font-size: 1.2em;
						}
					}
				}
				&.available {
					background: #ffffe2;
					&:hover {
						background: darken(#ffffe2, 10%);
					}
				}
				&.slot {
					background: url(../images/subtle-pattern-1.jpg);
					min-height: 35px;
					padding-left: 5px;
					.note, .playername {
						top: 4px;
						left: 5px;
					}
					.note {
						color: #666;
					}
					&:before {
						display: none;
					}
				}
				.note {
					font-size: 12px;
					position: relative;
					top: -7px;
					text-shadow: none;
				}
				.playername {
					text-shadow: none;
					position: relative;
					top: -7px;
				}
				.nflteam {
					width: 41px;
					height: auto;
					display: inline-block;
					top: 2px;
					position: relative;
				}
				.actions {
					display: inline-block;
					max-height: 30px;
					position: relative;
					top: 4px;
					right: 5px;
					.button {
						max-height: 30px;
						margin: 0px;
					}
				}
			}
			.playerstats {
				display: none;
				clear: both;
				background: #f5f5f5;
				padding: 10px 10px 0;
				border: 1px solid #ccc;
				border-width: 0px 1px;
				&.open { display: block;}
				.position {
					font-size: 12px;
					font-weight: 600;
					text-transform: uppercase;
				}
				.bigimage {
					width: 48px;
				}
				.bigimage, .info, .stats {
					display: inline-block;
					vertical-align: top;
				}
				.info {
					margin: 0px 20px 0px 10px;
				}
				.stats {
					min-width: 400px;
					table {
						width: 100%;
					}
				}
			}
		}
	}

/* -----------------------------------------
   Footer
----------------------------------------- */

	footer {
		border-top: 1px solid #ccc;
		top: 0px;
		position: relative;
		padding: 20px;
		* {
			color: #999;
		}
		.link-list {
			li {
				display: inline;
				padding: 0 10px;
				border-right: 1px solid #ccc
			}
		}
	}

/* -----------------------------------------
   Media Queries
----------------------------------------- */

