/* We use this media query to add styles to any device that supports media queries */
@media only screen { }

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {

}

/* Used to alter styles for screens BELOW 768px wide. This is where the grid changes. */
@media only screen and (max-width: 768px) {
		@menu_width: 80%;
		@content_offset : 0px;
		html,
		body {
			overflow-x:hidden;
			.hide-it-small {
				display: none;
			}

			.nav {
				.top-bar {
					&.expanded {
						.title-area {
							.menu-icon {
								background:rgba(0, 0, 0, .4); 
								&:after {
									border-top-color: transparent;
									border-bottom-color: #eee;
									top:15px;
								}
							}
						}
					}
					.title-area {
						.name {
							margin-left: 30px;
						}
						.menu-icon {
							margin: 0px;
							padding: 7px 7px 7px 7px;
							top: 0px;
							right: 0px;
							&:after {
									content: "";
									display: inline-block;
									border: 5px solid transparent;
									border-top-color: white;
									height: 0px;
									width: 0px;
									position: absolute;
									right: 10px;
									top: 20px;
								}
							.mobilemenu {
								margin-right: 20px;
								vertical-align: middle;
							}
						}
					}
					.top-bar-section {
						margin-bottom: 20px;
						ul {
							background: #ffff79;
							border-bottom: 1px solid #ccc;
							.box-shadow(0px 0px 8px #333);
							&:hover {background: #ffff79;}
							li {
								background: #ffff79;
								label {
									font-size: 10px;
									text-transform: uppercase;
									font-style: italic;
									padding: 5px 0 0 15px;
								}
								a {
									background: #ffff79;
									color: #333;
								}
							}
						}
					}
				}
			}
		}

	.content {
		.main {
			position: absolute;
			top: 44px;
			margin-bottom: 40px;
			.playerbar {
				.actions {
					.button {
						&.tiny {
							padding: 5px 3px;
						}
					}
				}
			}
			.playerstats {
				&.open {
					ul {
						li {
							border-right: none;
						}
					}
				}
			}
		}
		
		.forsidebar {
			z-index: 200000000;
		}
		label.forsidebar {
		  display:block;
		  top: 0;
		}

		label.forsidebar:after {
		  position: absolute;
		  right: 4px;  
		  top: 12px;
		  content:"\2261";
		  font-size: 37px;
		  font-weight: normal;
		  text-shadow: none;
		}

		label.forsidebar:hover,
		input.forsidebar:checked ~ label.forsidebar {
		  //color:#000;
		  background:rgba(0, 0, 0, .4); 
		}

		input.forsidebar:checked ~ .offcanvas {
		  opacity:1;
		  left:0;
		  .transition;
		  
		}

		input.forsidebar:checked ~ .main {
		  margin-left: @menu_width + @content_offset;
		  margin-right:-(@menu_width + @content_offset);
		}
		  
		.offcanvas {
		  position:absolute;
		  top:3em;
		  left:-@menu_width;
		  width: @menu_width;
		  opacity:0;
		  .transition;
		}
	}
	
	footer {
			display: none;
		}
}
/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {}

/* Apply styles to screens in landscape orientation */
@media only screen and (orientation: landscape) {

}

/* Apply styles to screens in portrait orientation */
@media only screen and (orientation: portrait) {
}

/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
.touch .your-element {}