/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Landing
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Landing
----------------------------------------- */

#landing {
	header {
		background: gold;
		border: 5px solid #333;
		border-width: 5px 0px 1px;
		height: 430px;
		text-align: center;
	}
}




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


